.header {
  display: flex;
  height: 80px;
  align-items: center;
  background-color: white;
  padding: 0 20px; 
  position: relative;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 8px 6px -6px #eee;
}


.search-div {
  display: flex;
  width: 39%;
  background-color: #eee;
  height: 40px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  margin-left: 20px; /* Optional: add some spacing */
}
#searchpng {
  width: 15px;
  margin: 40px;
  opacity: 0.5;
  margin-left: 100px;
}
.search-div input {
  width: 50%;
  border: none;
  margin-left: 2%;
  background-color: #eee;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
.nav-last {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 5px;
}
.nav-last > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  padding-top: 5px;
  margin-left: 50px;
}
#svg {
  height: 10px;
  margin-left: 100px;
}
.auth-buttons {
  display: flex;
  align-items:center;
  
  gap: 5px; /* Adjust gap to your preference */

}
.login-button{
  background-color: #ff3e6c;
  color: white;
  border: none;
  padding: 10px ; /* Adjust padding to your preference */
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 0px;
  display: flex;
  margin-left: 20px;
}

.signup-button:hover, .login-button:hover {
  background-color: #ff1c4f;
}
