.header {
  display: flex;
  height: 120px;
  align-items: center;
  background-color: white;
  padding: 0 20px; 
  position: relative;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 8px 6px -6px #eee;
}



.img{
  height:20px
}

.button-common {
  background-color: #f082c4;
  color: rgb(22, 8, 25);
  border: black;
  border-style: solid;
  border-width: 2px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  align-items: center;
  font-weight: bold;
  text-align: center;
  width: 120px;
  height: 60px;
}
.quiz-button{
  margin-left: 50px;
}
.trends-button {
  margin-left: 50px;
}
.button-common:hover {
  background-color: #f34d0c;
}
.chatbot-button{
  margin-left: 50px;
}
.chat-button {
  margin-left: 50px;
  margin-right: 600px;
}

.nav-last {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.nav-last > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  padding-top: 5px;
  margin-left: 30px;
}
#svg {
  height: 40px;
  width: 40px;
}

.login-button {
  background-color: #75084a;
  margin-right: 2px;
  cursor: pointer;
}
