.container {
    max-width: 100%;
    margin: auto;
    font-family: "Poppins", sans-serif;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  ul {
    list-style: none;
  }
  .footer {
    padding: 70px 0;
    background-color: #eee;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 5px;
  }
  .footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #777777;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #000000;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(134, 134, 134, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #24262b;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #000000;
  }
  .footer img {
    width: 60%;
    margin-bottom: 20px;
  }
  .footer-promise {
    display: flex;
    margin-bottom: 30px;
    font-size: 10px;
  }
  .footer-promise img {
    width: 25%;
    height: 25%;
    margin-right: 15px;
  }
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
  